body {
    font-family: 'Bitter', serif;
    margin: 0;
}
.top-section {
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
    height: 650px;
    margin-bottom: 50px;
    padding-top: 20px;
}
h1 {
    font-size: 45px;
}
p {
    line-height: 1.8em;
    width: 650px;
    text-align: justify;
}
a.about_btn {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(130deg, #a81effb5, #1e90ffe6);
    padding: 15px 25px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 3px;
}
.color-style {
    color: dodgerblue
}
.half-section {
    width: 40%;
    float: left;
    margin-left: 6%;
}
img {
    width: 100%;
}
.dream-section {
    height: 650px;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}
.exp-section {
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
    margin-bottom: 100px;
}
.exp-section h1 {
    margin-left: 7%;
}
.exp-shadow {
    box-shadow: 0px 0px 30px 0px #594288;
    padding: 30px 0 30px 30px;
    border-radius: 5px;
    height: 280px;
}
#exp-full-stack{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, rgba(163, 5, 255, 0.822), rgba(246, 0, 0, 0.829));
    border-image-slice: 1;
}
#exp-baby{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, rgba(5, 184, 255, 0.822), rgba(0, 37, 246, 0.829));
    border-image-slice: 1;
}
footer p{
    width: 100%;
    text-align: center;
    font-size: 15px;
}
footer a{
    text-decoration: none;
    color: #7B31D7;
}